// Custom styles.
DEFAULT_COLOR = #009a61
.post-body a,.post-button .btn {
    color: DEFAULT_COLOR
}
.post-button 
    .btn 
        border: 2px solid #009a61
        &:hover
           color: #FFFFFF
           background-color:  #009a61
           border-color: #009a61
blockquote
    border-left: 4px solid DEFAULT_COLOR
    
.footer-inner 
    text-align: center
.headband 
    background-color: #009a61

