// Custom styles.
DEFAULT_COLOR = #009a61
.post-body a,.post-button .btn {
    color: DEFAULT_COLOR
}
.post-button 
    .btn 
        border-bottom: 1px solid #999
        &:hover
           border-bottom: 1px solid #555
           color: #009a61
blockquote
    border-left: 4px solid DEFAULT_COLOR